<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.prinsmart.mapper.ProductMapper">


<select id="listProduct" resultType="kr.prinsmart.domain.ProductVO">
	select *
	from product

</select>


<select id="detailProduct" resultType="kr.prinsmart.domain.ProductVO">
        SELECT  
           *
        FROM product 
        WHERE product_id = #{product_id}
    </select> 


<select id="selectProduct" resultType="kr.prinsmart.domain.ProductVO">
        SELECT  
           *
        FROM product
        WHERE category_id = #{category_id} 
        ORDER BY product_name

    </select>
    
<select id="searchProduct" resultType="int">
<![CDATA[  
		  select *
		  from product 
		  where product_id > 0
		]]>
		<include refid="search"></include>

</select>
 
 <sql id="search">
	 <if test="searchType != null" > 
	   <if test="searchType == 't'.toString()">
	     and category_id = 1 and product_name like CONCAT('%', #{keyword}, '%')
	   </if>
	   <if test="searchType == 'c'.toString()">
	     and category_id = 2 and product_name like CONCAT('%', #{keyword}, '%')
	   </if>
	   <if test="searchType == 'w'.toString()">
	     and category_id = 3 and product_name like CONCAT('%', #{keyword}, '%')
	   </if>     
	   <if test="searchType == 'tc'.toString()">
	     and ( title like CONCAT('%', #{keyword}, '%') 
	     OR category_id = 4 and product_name like CONCAT('%', #{keyword}, '%'))
	   </if>        
	    
	 </if>  
	</sql>


</mapper>