<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.prinsmart.mapper.UserMapper">


<insert id="create">
insert into user(id, password, name, email, phone, address) 
values(#{id},#{password}, #{name},#{email},#{phone}, #{address})

 </insert>
 
<select id="login" resultType="kr.prinsmart.domain.UserVO">
	select id, password from user where id = #{id} and password = #{password}

</select>

<select id="selectUser" resultType="kr.prinsmart.domain.UserVO">
	select * 
	from user 
	where
	id = #{user_id}
	
</select>

<update id="updateUser">
	 update user set id =#{id}, password = #{password}, email = #{email}, address = #{address}, phone = #{phone} 
	 where id = #{id}
	</update>

<delete id="deleteUser">
	delete from user where id = #{id}
</delete>



</mapper>

